
       
    .navbar{
            background-color: #190019;
            text-align: center;
            flex-wrap:nowrap;
            padding: 0%;    
            margin:0;
    }        
    .nav link{
            background-color: #88678f;
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            right: 20px;
            padding: 15px;
            border-radius: 8px;
        }
        .navbar a {
            font-size: 40px;
            padding-right: 25px;
            margin: 10px;
            text-decoration: none;
            color: bisque;
            transition: all 0.3s ease;
        }
        .navbar a:hover{
        color:aliceblue;
    }
 .mountain img{
  
    height: 15cm;
    width: 15cm;
    border-radius: 10cm;
  }
h1{
    font-size: 40px;
}
.home{
    display:flex;
  }
  .content{
    display: inline  ;
    justify-content: center;
    align-items: center;
    width: 50vb;

  }
  .contact-container {
    background-color:#fff7f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    padding: 30px;
    width: 60%;
    text-align: center;
    margin: 20px auto;
}

.contact-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.contact-container p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.form input, .form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.form input:focus, .form textarea:focus {
    outline: none;
    border-color:#522b5b;
    box-shadow: 0 0 5px #88678f;
}

.submit-btn {
    background-color:#854f6c ;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 5PX;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #522b5b;
}
.footer {
    text-align: center; 
    padding: 50px;
    margin: 20px;
    border: 20px;
    font-size: 20px;

}
.footer p{
    font-size: 40px;
}
.footer a{
    text-decoration: none;
    
}
.footer a:hover{
    color:rgb(3, 3, 58);
}
.project{
    display: flex;
    border: 40px;
    justify-content: center;
    background-color: #fff7f2;
}
.left{
    padding: 10px;
    text-align: center;
}
.right{
    padding: 10px;
    text-align: center;
}
h2{
    text-align: center;
}
.left img{
    height: 200px;
    width: 100%;
}
.right img{
    height: 200px;
    width: 100%;
}
.my{
    padding: 100px;
    text-align: center;
}